<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616891630617-u486c151t2lvqh3hjfn6hbv53hq6upca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616891630617-u486c151t2lvqh3hjfn6hbv53hq6upca</string>
	<key>API_KEY</key>
	<string>AIzaSyDVJgA2EVjx5Sarjq38bLBiPcTPrg8Vaj0</string>
	<key>GCM_SENDER_ID</key>
	<string>616891630617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.giadinhsocho.eyeeye</string>
	<key>PROJECT_ID</key>
	<string>eyeeye-31840</string>
	<key>STORAGE_BUCKET</key>
	<string>eyeeye-31840.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616891630617:ios:09a6ab684235bfccebd688</string>
	<key>DATABASE_URL</key>
	<string>https://eyeeye-31840-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>